/*# sourceURL=t-l-middle.component.scss */

:host {
  display: block;
  padding: 0.3em 0.3em;
    
  .t-l-m-wrap {
    height: 37em;
    overflow: auto;
  }

  table {
    width: 100%;
  }
  
  tr.mat-row {
    cursor: pointer;
  }
}